
#background{
background-image: url('/image/Idejna\ zasnova.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-position: center;

}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color: green;
    text-align: center;
    text-shadow: 
    0 0 2px rgb(0, 0, 0),
    0 0 10px rgb(7, 116, 7);
    letter-spacing: 12px;
    
}

h2 {
    color: green;
}

h3 {
    color: green
}

p {
    color: green;
    
}

li {
    color: green;
}

footer {
    color: green;
}

ul {
    list-style-type: none;
}
.glava {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
    margin: 0 avto;
    height: 150px;
    width: auto;
    padding: 10px;
}

#profilePicture{
    border-radius: 50%;
    padding: 5px;
}

.okvir{
    display: flex;
    border: 2px solid rgb(218, 28, 194);
    width: auto;
    margin: 5px;
    background-color: black;
}
.okvir1{
    display: flex;
}

.okvir2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.okvir2-1{
    border: 2px solid rgb(218, 28, 194);
    width: 300px;
    margin: 5px;
    background-color: black;
    text-align:center;
}
.omeni{
    background-color: black;
    width: 400px;
    height: auto;
    border: 2px solid rgb(218, 28, 194);
    margin: 5px;
    padding: 10px;
    margin-left: 200px;
    border-radius: 10%;
}
.youtube{
    background-color: black;
    border: 2px solid rgb(218, 28, 194);
    padding: 1%;
    margin: 5px;
    margin-left: 500px;
    border-radius: 10%;
}

.okvir3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izkusnje{
    border: 2px solid rgb(218, 28, 194);
    width: 400px;
    height: 300;
    margin: 50px;
    padding: 10px;
    background-color: black;
    border-radius: 15%;
}
.okvir4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izkusnje1{
    border: 2px solid rgb(218, 28, 194);
    width: 500px;
    height: 300;
    margin: 5px;
    padding: 10px;
    background-color: black;
    text-align: center;
    border-radius: 15%;
}
.kontakt{
    display: flex;
    justify-content: center;
}
.info{
    padding: 1%;
}
.MailForm{
    padding: 1%;
}
footer{
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid rgb(218, 28, 194);
    background-color: black;

}


