.background {
    background-image: url('/image/Idejna\ zasnova.jpg');
}

.glava {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 avto;
    background-color: rgba(235, 243, 243, 0);
    height: 150px;
    width: auto;
    padding: 10px;
}

#profilePicture{
    border-radius: 50%;
    padding: 5px;
}




