#background{
background-image: url('/image/Idejna\ zasnova.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}

h1 {
    color: green;
    
}

h2 {
    color: green;
}

h3 {
    color: green
}

p {
    color: green;
}

li {
    color: green;
}

footer {
    color: green;
}

ul {
    list-style-type: none;
}
.glava {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 5px solid rgb(218, 28, 193);
    border-radius: 2px;
    margin: 0 avto;
    height: 150px;
    width: auto;
    padding: 10px;
    background-color: black;
}

#profilePicture{
    border-radius: 50%;
    padding: 5px;
}

.okvir{
    display: flex;
    border: 2px solid rgb(218, 28, 194);
    width: auto;
    margin: 5px;
    background-color: black;
}
.okvir1{
    display: flex;
}

.okvir2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.okvir2-1{
    border: 2px solid rgb(218, 28, 194);
    width: 300px;
    margin: 5px;
    background-color: black;
    text-align:center;
}
.omeni{
    background-color: black;
    width: 400px;
    height: auto;
    border: 2px solid rgb(218, 28, 194);
    margin: 5px;
    padding: 10px;
    margin-left: 200px;
}
.youtube{
    background-color: black;
    border: 2px solid rgb(218, 28, 194);
    margin: 5px;
    margin-left: 550px;
}

.okvir3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izkusnje{
    border: 2px solid rgb(218, 28, 194);
    width: 500px;
    height: 300;
    margin: 5px;
    padding: 10px;
    background-color: black;
}
.okvir4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.izkusnje1{
    border: 2px solid rgb(218, 28, 194);
    width: 500px;
    height: 300;
    margin: 5px;
    padding: 10px;
    background-color: black;
    text-align: center;
}
footer{
    text-align: center;
    width: auto;
    height: 200px;
    border: 2px solid rgb(218, 28, 194);
    background-color: black;

}


